<h4>Dashboard for:</h4><br>
<h4><%= @org.name %></h4>

<div class="row">
  <span class="org-image col s4">
    <%= image_tag @org.image.full, class: "materialboxed z-depth-1", width: 300 %>
  </span>
  <span class="org-details col s8">
    <div>
      <i class="tiny material-icons">location_on</i>
      <%= @org.address %><br>
      <% if @org.suite %>
        <%= @org.suite %><br>
      <% end %>
      <%= @org.city %>, <%= @org.province %><br>
      <%= @org.postal %><br>
      <i class="tiny material-icons">email</i>
      <%= mail_to 'email', @org.email %><br>
      <i class="tiny material-icons">web</i>
      <%= link_to 'website', @org.url %><br>
      <i class="tiny material-icons">phone</i>
      <%# format phone number %>
      <%= number_to_phone(@org.primaryphone, area_code: true) %><br><br>
      <% if @org.secondaryphone %><br>
        <i class="tiny material-icons">phone</i>
        <%= number_to_phone(@org.secondaryphone, area_code: true) %><br>
      <% end %>
    </div>
  </span>
</div><br><br>

<div class="org-description">
  <%= @org.description %>
</div><br>