<li class="collection-item avatar card valign-wrapper" id=<%= card.id %>>
  <div class="col s10 m11 l11">
    <% if card.needs %>
      <%# NEEDS cards %>
      <i class="material-icons circle <%= card.active? ? 'orange' : 'blue-grey lighten-3' %>">swap_horiz</i>
      <%= link_to "/cards/#{card.id}" do %>
        <i class="material-icons circle <%= card.active? ? 'orange darken-3' : 'blue-grey' %> edit-btn">mode_edit</i>
      <% end %>

    <% else %>

    <%# OFFERS cards %>
      <i class="material-icons circle <%= card.active? ? 'red lighten-1' : 'blue-grey lighten-3' %>">swap_horiz</i>
      <%= link_to "/cards/#{card.id}" do %>
        <i class="material-icons circle <%= card.active? ? 'red darken-2' : 'blue-grey' %> edit-btn">mode_edit</i>
      <% end %>

    <% end %>

    <%# CARD information %>
    <p>
      <strong><em><%= card.goods_type.name %></em></strong>

      <% if card.urgent? && card.active? %>
        <i class="material-icons tiny urgent">error</i>
      <% end %>
    </p>
    <p><%= card.description %></p>

    <!-- show match number with URL if the card is 'active' -->
    <% if card.active? %>
      <% if card.matches.length > 0 %>
        <a href="<%= card.match_url %>">
          <% if card.matches.length == 1 %>
            1 potential match
          <% else %>
           <%= card.matches.length %> potential matches
          <% end %>
        </a>
      <% else %>
        <p class="pink-text text-darken-3">No matches yet</p>
      <% end %>
    <% end %>
  </div>

  <div class="col s1 m1 l1">
    <p class="right-align">
      <% if card.active? %>
        <i class="material-icons">done</i>
      <% end %>
    </p>
  </div>
</li>