<li class="collection-item avatar card" id=<%= card.id %>>
  <div class="col s10 m11 l11">
    <% if card.needs %>
      <%# NEEDS cards %>
      <i class="material-icons circle orange">swap_horiz</i>

      <a href="#toggle-edit-need">
        <i class="material-icons circle orange darken-3 edit-btn">mode_edit</i>
      </a>
    <% else %>
    <%# OFFERS cards %>
      <i class="material-icons circle red lighten-1">swap_horiz</i>

      <a href="#toggle-edit-offer">
        <i class="material-icons circle red darken-2 edit-btn">mode_edit</i>
      </a>
    <% end %>

    <p><strong><em><%= card.goods_type.name %></em></strong></p>
    <p><%= card.description %></p>
    <a href="<%= card.match_url %>">
      <% if card.matches.length > 1 %>
      <%= card.matches.length %> potential matches
      <% else %>
      1 potential match
      <% end %>
    </a>

  </div>
  <div class="col s1 m1 l1">
    <p class="right-align">
      <% if card.active? %>
        <input type="checkbox"
               class="checkbox"
               id="checkbox<%= card.id %>"
               <%= card.active ? checked="checked" : '' %>
               disabled="disabled"
        />
          <label for="checkbox<%= card.id %>"></label>
      <% end %>
    </p>
  </div>
</li>