<section class="org-edit">
  <div class="fixed-action-btn">
    <button class="btn-floating tooltipped btn-medium waves-effect waves-light green" type="submit" data-position="left" data-delay="50" data-tooltip="Save Organization Info" name="save">
      <i class="material-icons">done</i>
    </button>
  </div>

  <div class="row">
    <!-- Organization Name -->
    <form class="col s12 m12 l12">
      <div class="input-field">
        <i class="material-icons prefix">account_circle</i>
        <input id="org-name" type="text" class="validate" value="<%= @org.name %>">
        <label for="org-name">Organization Name</label>
      </div>
    </form>
    <!-- Organization Image -->
    <div class="col s12 m6 l6">
      <%= image_tag @org.image.full, class: "materialboxed z-depth-1", width: 300 %><br>
    </div>
    <div class="col s12 m6 l6">
      <form action="#">
        <div class="file-field input-field">
          <div class="btn">
            <span>File</span>
            <input type="file">
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text" placeholder="Replace Image">
          </div>
        </div>
      </form>
    </div>
    <!-- Organization Description -->
    <div class="col s12 m12 l12">
      <div class="card-panel light-blue darken-2">
        <span class="white-text">
          <%= @org.description %>
        </span>
      </div>
    </div>
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">comment</i>
          <textarea id="org-description" class="materialize-textarea"></textarea>
          <label for="org-description">Replace Description</label>
        </div>
      </div>
    </form>
    <!-- Telephone -->
    <div class="row">
      <form class="col s12 m6 l6">
        <div class="input-field">
          <i class="material-icons prefix">phone</i>
          <input id="org-primaryphone" type="text" class="validate" value="<%= number_to_phone(@org.primaryphone, area_code: true) %>">
          <label for="org-primaryphone">Primary Phone</label>
        </div>
      </form>
      <form class="col s12 m6 l6">
        <div class="input-field">
          <i class="material-icons prefix">phone</i>
          <input id="org-secondaryphone" type="text" class="validate" value="<%= number_to_phone(@org.secondaryphone, area_code: true) %>">
          <label for="org-secondaryphone">Secondary Phone</label>
        </div>
      </form>
    </div>
    <!-- Email & Website -->
    <div class="row">
      <form class="col s12 m6 l6">
        <div class="input-field">
          <i class="material-icons prefix">email</i>
          <input id="org-email" type="text" class="validate" value="<%= @org.email %>">
          <label for="org-email">Email</label>
        </div>
      </form>
      <form class="col s12 m6 l6">
        <div class="input-field">
          <i class="material-icons prefix">web</i>
          <input id="org-url" type="text" class="validate" value="<%= @org.url %>">
          <label for="org-url">Website URL</label>
        </div>
      </form>
    </div>
    <!-- Address -->
    <div class="row">
      <form class="col s12 m6 l6">
        <div class="input-field">
          <i class="material-icons prefix">location_on</i>
          <input id="org-address" type="text" class="validate" value="<%= @org.address %>">
          <label for="org-address">Address</label>
        </div>
      </form>
      <form class="col s12 m6 l6">
        <div class="input-field">
          <i class="material-icons prefix">location_on</i>
          <input id="org-suite" type="text" class="validate" value="<%= @org.suite %>">
          <label for="org-suite">Suite</label>
        </div>
      </form>
    </div>
    <div class="row">
      <form class="col s12 m6 l6">
        <div class="input-field">
          <i class="material-icons prefix">location_on</i>
          <input id="org-city" type="text" class="validate" value="<%= @org.city %>">
          <label for="org-city">City</label>
        </div>
      </form>
      <form class="col s12 m6 l6">
        <div class="input-field">
          <i class="material-icons prefix">location_on</i>
          <input id="org-postal" type="text" class="validate" value="<%= @org.postal %>">
          <label for="org-postal">Postal Code</label>
        </div>
      </form>
    </div>
  </div>
</section>