<section class="org-show">
  <div class="dashboard-container">
    <h4 class="center-align">Welcome, <strong><%= @org.name %></strong></h4>

    <!-- Toggle Render Section for Update Org Details -->
    <div class="center-align">
      <a id="toggle-org-form-button"
         class="waves-effect waves-light btn">
        update organization details
      </a>

      <a class="waves-effect waves-light btn"
         id="toggle-new-need-button">
        new need
      </a>

      <a class="waves-effect waves-light btn"
         id="toggle-new-offer-button">
        new offer
      </a>
    </div><br>


    <!-- Toggles -->
    <div class="row">

      <!-- Organization EDIT -->
      <div class="toggle-hide" id="toggle-org-form">
        <%= render partial: 'org_form' %>
      </div>

      <!-- New NEED -->
      <div class="toggle-hide" id="toggle-new-need">
        <div class="row dashboard-form">
          <%= form_tag(cards_path) do %>

            <%= hidden_field_tag(:type, 'needs')%>
            <h5 class="center-align">What are you in need of?</h5>

            <%= render partial: 'new_need_offer' %>
          <% end %>
        </div>
      </div>

      <!-- New OFFER -->
      <div class="toggle-hide" id="toggle-new-offer">
        <div class="row dashboard-form">
          <%= form_tag(cards_path) do %>

            <%= hidden_field_tag(:type, 'offers') %>
            <h5 class="center-align">What are you offering?</h5>

            <%= render partial: 'new_need_offer' %>
          <% end %>
        </div>
      </div>

      <!-- edit card -->
      <% if @edit_card %>

        <div class="toggle-hide" id="toggle-edit-card">
          <div class="row dashboard-form">

            <%= form_tag("/cards/#{@edit_card.id}", method: 'patch') do %>

              <%= hidden_field_tag(:type, @edit_card.needs ? 'needs' : 'offers')%>

              <h5 class="center-align">
                Edit your <%= @edit_card.needs ? 'need' : 'offer' %> card
                <%= link_to dashboard_path,
                    class: "btn-floating tooltipped btn-small waves-effect waves-light red",
                        "data-position": "left",
                        "data-delay": "50",
                        "data-tooltip": "Cancel Edit",
                    id: "cancel-btn" do %>
                  <i class="material-icons">not_interested</i>
                <% end %>
              </h5>
              <%= render partial: 'edit_card' %>

            <% end %>
          </div>
        </div>

      <% end %>

    </div>

    <br>

    <!-- Org Needs/Offers -->
    <%= render 'org_needs_offers' %>

  </div>
</section>