<section class="org-show">
  <div class="dashboard-container">
    <h4 class="center-align">Dashboard for: <strong><%= @org.name %></strong></h4>

    <!-- Toggle Render Section for Update Org Details -->
    <div class="center-align">
      <a id="toggle-org-form-button"
         class="waves-effect waves-light btn">
        update organization details
      </a>

      <a class="waves-effect waves-light btn"
         id="toggle-new-need-button">
        new need
      </a>

      <a class="waves-effect waves-light btn"
         id="toggle-new-offer-button">
        new offer
      </a>
    </div><br>

    <!-- Organization edit toggle -->
    <div class="toggle-hide" id="toggle-org-form">
      <%= render partial: 'org_form' %>
    </div>

    <!-- New/Update need/offer toggles -->
    <div class="row">

      <div class="toggle-hide" id="toggle-new-need">
        <%= form_tag(needs_path) do %>
          <%= hidden_field_tag(:type, 'need')%>
          <h4 class="center-align">What Are You In Need Of?</h4>
          <%= render partial: 'new_need_offer' %>
        <% end %>
      </div>

      <div class="toggle-hide" id="toggle-new-offer">
        <%= form_tag(offers_path) do %>
          <%= hidden_field_tag(:type, 'offer') %>
          <h4 class="center-align">What Are You Offering?</h4>
          <%= render partial: 'new_need_offer' %>
        <% end %>
      </div>

      <div class="toggle-hide" id="toggle-edit-need">
        <%= form_tag(needs_path, method: 'patch') do %>
          <%= hidden_field_tag(:type, 'need')%>
          <h4 class="center-align">Edit a Need</h4>
          <%= render partial: 'edit_card' %>
        <% end %>
      </div>


      <div class="toggle-hide" id="toggle-edit-offer">
        <%= form_tag(offers_path, method: 'patch') do %>
          <%= hidden_field_tag(:type, 'offer') %>
          <h4 class="center-align">Edit an Offer</h4>
          <%= render partial: 'edit_card' %>
        <% end %>
      </div>

    </div>
    <br>

    <!-- Org Needs/Offers -->
    <%= render 'org_needs_offers' %>

  </div>
</section>