<section class="org-show">
  <div class="dashboard-container">
    <h4 class="center-align">Dashboard for: <strong><%= @org.name %></strong></h4>

    <!-- Toggle Render Section for Update Org Details -->
    <div class="center-align">
      <a id="toggle-org-form-button"
         class="waves-effect waves-light btn">
        <i class="material-icons right">mode_edit</i>
        update organization details
      </a>

      <a class="waves-effect waves-light btn"
         id="toggle-new-need-button">
        new need
      </a>

      <a class="waves-effect waves-light btn"
         id="toggle-new-offer-button">
        new offer
      </a>
    </div><br>

    <!-- Organization edit toggle -->
    <div class="toggle-hide" id="toggle-org-form">
      <%= render partial: 'org_form' %>
    </div>

    <!-- New need/offer toggles -->
    <div class="row">
      <div class="toggle-hide" id="toggle-new-need">
        <%= form_for @need, url: dashboard_needs_path do |new| %>

          <h4 class="center-align">what are you in need of?</h4>
          <%= render partial: 'new_need_offer', locals: {n: new} %>

        <% end %>
      </div>

      <div class="toggle-hide" id="toggle-new-offer">
        <%= form_for @need, url: dashboard_offers_path do |new| %>

          <h4 class="center-align">what are you offering?</h4>
          <%= render partial: 'new_need_offer', locals: {n: new} %>

        <% end %>
      </div>
    </div>
    <br>

    <!-- Org Needs/Offers -->
    <%= render 'org_needs' %>

  </div>
</section>