<% @offers.each do |card| %>

  <div class="col s12 l6">
    <div class="card offers hoverable <%= @org && card.organization.id == @org ? 'highlight-offer' : '' %>">
      <div class="card-content white-text">
        <span class="card-title">
          <%= card.organization.name %>
        </span>
        <p><%= card.description %></p>
      </div>
      <div class="card-action valign-wrapper">
        <% if @org && card.organization.id == @org %>
          <%= link_to('edit in your dashboard', dashboard_path, style: 'color: #F46176') %>
        <% else %>
        <%= link_to('contact', organization_path(card.organization_id), style: 'color: #F46176') %>
        <% end %>

        <p class="needs-offers-type">
          <i class="tiny material-icons circle red">swap_horiz</i>
          has <%= card.goods_type.name %>
        </p>
      </div>
    </div>
  </div>

<% end %>