<%# organization / charity card %>
<div class="col s12 m6 l4">
  <div class="card medium hoverable <%= @user_org == organization.id ? 'highlight' : '' %>">
    <div class="valign-wrapper">
      <%= image_tag(organization.image.card) %>
    </div>
    <div class="divider"></div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">
        <i class="material-icons right">more_vert</i>
        <%= organization.name %>
      </span>
    </div>
    <div class="card-action">
      <% if @user_org && organization.id == @user_org %>
        <%= link_to 'dashboard', dashboard_path, class: 'info-link' %>
      <% else %>
      <%= link_to 'website', organization.url %>
        <% if organization.orgtype == 'charity' %>
          <%= link_to 'how to help', organization_path(id: organization.id), class: 'help-link deep-orange-text accent-3' %>
        <% else %>
          <%= link_to 'donor info', organization_path(id: organization.id), class: 'info-link blue-text' %>
        <% end %>
      <% end %>
    </div>
    <%# expand card to view contact details %>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">
      <%= organization.name %>
      <i class="material-icons right">close</i></span>
      <p>
        <% if organization.email %>
          <span><i class="tiny material-icons">email</i>
          <%= mail_to 'email', organization.email %><br></span>
        <% end %>
        <i class="tiny material-icons">phone</i>
        <%# format phone number %>
        <%= number_to_phone(organization.primaryphone, area_code: true) %><br><br>
        <% if organization.secondaryphone %><br>
          <i class="tiny material-icons">phone</i>
          <%= number_to_phone(organization.secondaryphone, area_code: true) %><br>
        <% end %>
        <%= organization.address %><br>
        <% if organization.suite %><br>
          <%= organization.suite %><br>
        <% end %>
        <%= organization.city %><br>
        <%= organization.postal %><br>
        <%= organization.province %><br>
      </p>
    </div>
  </div>
</div>
