<%# contact details formatted%>
<h5>contact</h5>
<p>
  <% if @org.email %>

    <span><i class="tiny material-icons">email</i>
    <%= mail_to 'email', @org.email %><br></span>

  <% end %>
  <br>
  <i class="tiny material-icons">phone</i>

  <%= number_to_phone(@org.primaryphone, area_code: true) %>
  <% if @org.secondaryphone %>
    <br>
    <i class="tiny material-icons">phone</i>
    <%= number_to_phone(@org.secondaryphone, area_code: true) %>

  <% end %>
  <br>
  <br>

  <%= @org.address %><%= @org.suite.present? ? ', ' + @org.suite : nil %><br>
  <%= "#{@org.city}, #{@org.province}"%><br>
  <%= @org.postal %><br>
</p>