<div class="row org-container org-card-large col s12">
  <%= image_tag(@org.image.card) %>

  <div class="divider"></div>
  <div class="col s12">
    <% if @cards.size > 0 %>

      <div class="col s12 l6">
        <%= render 'org_cards' %>
      </div>

    <% else %>

      <div class="cards-placeholder"></div>

    <% end %>
    <div class="col s12 l6">
      <h4><%= @org.name %></h4>

      <% if @org.description %>
        <p><%= @org.description %></p>
      <% end %>

      <div class="divider"></div>

      <%= render 'org_contact' %>
      <div class="col s12 map-container">MAP HERE</div>

    </div>
  </div>
</div>