<div class="row org-container org-card-large col s12">
  <%= image_tag(@org.image.full) %>

  <% if @org.description %>
    <div class="divider"></div>
    <p><%= @org.description %></p>
  <% end %>

  <div class="divider"></div>

  <h4><%= @org.name %></h4>

  <%= render 'org_contact' %>

  <div class="divider"></div>
  <% if @org.categories.count > 0 %>
    <%# pluralize if more than one cause %>
    <h5>supported cause<% if @org.categories.count > 1 %>s<% end %>:</h5>
    <ul>
      <% @org.categories.each do |c|%>
        <li><%= c.name %></li>
      <% end %>
    </ul>
  <% end %>
<!--   <div
  class="fb-like"
  data-share="true"
  data-width="450"
  data-show-faces="true">
  </div> -->
  <div class="divider"></div>

  <p>This is where we'll put the needs/offers stuff</p>
</div>