<div class="row org-container org-card-large col s12">
  <%= image_tag(@org.image.card) %>

  <div class="divider"></div>
  <div class="col s12">
    <!-- organization details -->
    <div class="col s12 l6">
      <h4 id="org-name"><%= @org.name %></h4>

      <% if @org.description %>

        <p><%= @org.description %></p>
        <div class="divider"></div>

      <% end %>

      <%= render 'org_contact' %>

      <!-- Google Map -->
      <div class="col s12" id="map-container">
        <div id="map">
          <iframe
            width="100%"
            height="100%"
            frameborder="0"
            style="border:0"
            src="<%= @google_url %>" allowfullscreen>
          </iframe>
        </div>
      </div>
    </div>
    <!-- render needs/offers cards -->
    <% if @cards.size > 0 %>

      <div class="top-offset col s12 l6">
        <%= render 'org_cards' %>
      </div>

    <% else %>

      <div class="cards-placeholder top-offset"></div>

    <% end %>
  </div>
</div>