<!DOCTYPE html>
<html>
  <head>
    <title>inNeed</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'https://fonts.googleapis.com/icon?family=Material+Icons' %>
    <%= stylesheet_link_tag 'application', media: 'all' %>

    <%= javascript_include_tag 'application' %>
    <!-- Materialize -->
    <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js" %>
    <!-- Google Maps -->
    <%= javascript_include_tag "//maps.google.com/maps/api/js?key=#{ENV['GOOGLE_API_KEY']}" %>
    <%= javascript_include_tag "//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js" %>
  </head>

  <body>
    <%= render 'layouts/top_nav' %>

    <% if flash.notice.present? %>
      <div class="center-align flash-notice">
        <h5>
          <%= flash.notice %>
        </h5>
      </div>
    <% end %>

    <main class="container" id="main_container">
      <%= yield %>
    </main>

    <%= render 'layouts/bottom_nav' %>
  </body>
</html>
