<!DOCTYPE html>
<html>
  <head>
    <title>inNeed</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header-nav">
      <%= render 'layouts/top_nav' %>
    </header>

    <main class="container">
      <%= yield %>
    </main>

    <footer class="footer-nav">
      <%= render 'layouts/bottom_nav' %>
    </footer>
  </body>
</html>
